
<form (ngSubmit)="onSubmit()" #fileUploadForm="ngForm" enctype="multipart/form-data">
  <label for="title">Titre:</label>
  <input type="text" id="title" name="title" placeholder="Titre" ngModel required>
  <br>
  <label for="author">Artiste:</label>
  <input type="text" id="author" name="author" placeholder="Artiste" ngModel required>
  <br>
  <input type="file" name="audio" id="audio" (change)="onFileChange($event)" required>
  <br>
  <button type="submit">Upload</button>
</form>
<audio controls autoplay muted>
  <source src="{{fileUrl}}" type="audio/mpeg">
</audio>
