<header class="header">
    <div class="nav-logo">
        <img src="LogoSpoutoufy.png" alt>
    </div>
    <div class="header-content">
        <div class="app-search-result">
            <app-search-result></app-search-result>
        </div>
        <nav>
            <ul class="nav">
                <li><app-nav-item text="Home" routerLink="/home"></app-nav-item></li>
                <li><app-nav-item text="Upload" routerLink="/upload"></app-nav-item></li>
                <li><app-nav-item text="Musics" routerLink="/musics"></app-nav-item></li>
                <li><app-nav-item text="Login" routerLink="/login"></app-nav-item></li>
            </ul>
        </nav>
    </div>
</header>
